fastapi==0.116.1
uvicorn==0.35.0
pydantic==2.11.9
pydantic-settings==2.6.1
SQLAlchemy==2.0.36
asyncmy==0.2.9
aiomysql==0.2.0
python-dotenv==1.1.1
PyMySQL==1.1.1
uvloop==0.21.0; platform_system != "Windows"
watchfiles==1.1.0
websockets==15.0.1
